<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title start using GULP
    link(rel="stylesheet", href="../../dist/css/styles.css")
  body

    h1 start using GULP Gulp, Pug, JavaScript and SASS.



    script(src="js/scripts.js")
